.posts {
  width: 75%;
}


.posts > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.posts > ul > .card-item {
  margin-bottom: 5%;
}

.cardview {
  display: flex;
  flex-direction: column;
  border: solid 2px #4e5a5f;
  border-radius: 6pt;
  background-color: white;
}

.cardview .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
}

.card-header #card-publisher {
  font-weight: 900;
  font-family: Lato;
  font-size: 13pt;
}

.cardview #card-image {
  width: 100%;
}

.card-details {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 10px;
  margin-right: 15px;
}

.card-details .post-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15px;
}

#post-options-left > button {
  margin-right: 7px;
}

#likes-count {
  margin-top: 8px;
  margin-bottom: 5px;
  font-family: Noto Sans;
  font-weight: 900;
  font-size: 13pt;
}

.card-caption {
  display: inline-block;
  justify-content: space-between;
}

.card-caption #caption-username {
  font-weight: 900;
  font-family: Lato;
  font-size: 12pt;
  color: black;
}

.card-caption #caption-text {
  font-weight: 300;
  font-family: Assistant;
  font-size: 12pt;
}

.card-caption #caption-more {
  font-weight: 500;
  font-family: Assistant;
  font-size: 12pt;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #23406e;
}

#view-all-comments {
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: Assistant;
  font-size: 12pt;
  width: fit-content;
  font-weight: 700;
  color: #23406e;
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;
  text-align: left;
}

.comment-list #comment-item {
  margin-bottom: 5px;
}

.post-comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-comments #post-comment-card {
  margin-bottom: 6px;
}

#post-comment-card #comment-username {
  font-weight: 900;
  font-family: Lato;
  font-size: 12pt;
}

#post-comment-card #comment-text {
  font-weight: 300;
  font-family: Assistant;
  font-size: 12pt;
  text-align: justify;
}

#card-date {
  margin-top: 5px;
  font-weight: 800;
  font-family: Assistant;
  font-size: 12pt;
  color: #484846;
  /* opacity: 0.9; */
}

#comment-date {
  margin-top: 5px;
  font-weight: 800;
  font-family: Assistant;
  font-size: 12pt;
  color: #484846;
  /* opacity: 0.9; */
}

#post-divider-line {
  margin-top: 10px;
  border-bottom: 2px solid gray;
  margin-bottom: 10px;
}

.post-user-comments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

.post-user-comments #card-comment-feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#card-comment-feature #comment-emoji {
  margin-right: 10px;
}

#card-comment-feature .post-comment {
  font-weight: 900;
  font-family: Assistant;
  font-size: 12pt;
  color: #34303c;
  border: none;
  width: 80%;
  outline: none;
}

.post-user-comments #comment-publish {
  border: none;
  padding: 0;
  background: none;
  font-family: Noto Sans;
  font-size: 14pt;
  font-weight: 800;
  color: #23406e;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

  .posts {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .page-content .right-column {
    display: none;
  }

  .cardview {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid gray;
    border-radius: 6pt;
  }

  .card-details {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 10px;
  }

}

.material-icons.post-liked { 
  color: red; 
}

.material-icons.post-bookmarked { 
  color: black; 
}

