* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: whitesmoke;
  }
  
  main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .top-nav-bar {
    position: fixed;
    display: flex;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 3px solid gray;
  }
  
  .top-nav-bar .top-nav-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
  }
  
  .top-nav-container #top-nav-bar-title {
    display: inline-block;
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 20pt;
  }
  
  #top-nav-bar-userbox {
    display: inline-block;
  }
  
  #top-nav-bar-username {
    margin-left: 20px;
    font-size: 14pt;
    font-family: Noto Sans;
    font-weight: 600;
  }
  
  #top-nav-bar-logout {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 14pt;
    font-family: Lato;
    font-weight: 600;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    color: #163E6D;
  }
  
  .page-content {
    position: relative;
    margin-top: 100px;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .left-column {
    width: 70%;
    display: block;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10%;
    width: 43%;
  }
  
  #stories-panel {
    display: flex;
    align-items: flex-start;
    width: 80%;
    border: 1px solid gray;
    background-color: white;
    border-radius: 10px;
    padding: 20px 0px;
    overflow: auto;
    margin-bottom: 2%;
  }
  
  #stories-panel-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
  }
  
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background-color: transparent;
  }
  
  .stories-panel-card-item {
    align-items: center;
    width: fit-content;
  }
  
  .stories-panel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
  }
  
  #stories-panel-image-background {
    background: linear-gradient(to right, red, orange);
    display: inline-block;
    border-radius: 50%;
    /* overflow: auto; */
    width: 68px;
    height: 68px;
    min-width: 68px;
    min-height: 68px;
    padding: 2px;
  }
  
  #stories-panel-card-image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
    /* overflow: hidden; */
    /* display: flex;
      align-items: center;
      justify-content: center; */
    box-sizing: border-box;
  }
  
  .stories-panel-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* object-fit: cover; */
    /* margin: 0; */
    /* padding: 0; */
  }
  
  .stories-panel-card-label {
    margin-top: 10px;
    font-size: 12pt;
    font-family: Lato;
    font-weight: 600;
  }
  
  .post-panel {
    /* display: inline-block; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* 
      justify-content: space-evenly; */
  }
  
  .post-panel .post-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .post-list #post-item {
    margin-bottom: 2%;
  }
  
  .post-cardview {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 2px solid gray;
    border-radius: 6pt;
    background-color: white;
  }
  
  .post-cardview .post-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
  }
  
  .post-card-header #post-publisher {
    font-weight: 900;
    font-family: Noto Sans;
    font-size: 13pt;
  }
  
  .post-cardview #post-image {
    width: 100%;
  }
  
  .post-details {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 5px;
  }
  
  .post-details .post-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15px;
  }
  
  #post-options-right #post-options-icon {
    margin-right: 10px;
  }
  
  .post-likes {
    margin-top: 8px;
    margin-bottom: 5px;
  }
  
  .post-likes #post-likes-count {
    font-family: Noto Sans;
    font-weight: 900;
    font-size: 13pt;
  }
  
  .post-caption {
    display: inline-block;
    justify-content: space-between;
  }
  
  .post-caption #post-caption-username {
    font-weight: 900;
    font-family: Lato;
    font-size: 12pt;
    color: black;
  }
  
  .post-caption #post-caption-text {
    font-weight: 300;
    font-family: Assistant;
    font-size: 12pt;
  }
  
  .post-caption #post-caption-more {
    font-weight: 500;
    font-family: Assistant;
    font-size: 12pt;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #23406E;
  }
  
  .post-comments {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .post-comments #post-comment-card {
    margin-bottom: 6px;
  }
  
  #post-comment-card #post-comment-username {
    font-weight: 900;
    font-family: Lato;
    font-size: 12pt;
  }
  
  #post-comment-card #post-comment-text {
    font-weight: 300;
    font-family: Assistant;
    font-size: 12pt;
  }
  
  #post-comment-date #post-comment-date-text {
    font-weight: 800;
    font-family: Assistant;
    font-size: 12pt;
    color: #6C6C68;
    /* opacity: 0.9; */
  }
  
  #post-divider-line {
    margin-top: 10px;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
  }
  
  .post-user-comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 15px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .post-user-comments #post-comment-feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  #post-comment-feature #post-comment-emoji {
    margin-right: 10px;
  }
  
  #post-comment-feature #post-comment {
    font-weight: 900;
    font-family: Assistant;
    font-size: 12pt;
    color: #34303C;
    border: none;
    width: 80%;
    outline: none;
  }
  
  .post-user-comments #post-comment-publish {
    border: none;
    padding: 0;
    background: none;
    font-family: Assistant;
    font-size: 14pt;
    font-weight: 800;
    color: #23406E;
    cursor: pointer;
  }
  
  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #user-profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid #899096;
  }
  
  .user-info .user-info-username {
    font-family: Noto Sans;
    font-weight: 600;
    font-size: 15pt;
  }
  
  .user-suggestions-panel {
    margin-top: 15px;
    width: 275px;
  }
  
  .user-suggestions #suggestions-title {
    font-weight: 900;
    font-family: Assistant;
    font-size: 15pt;
    color: #373740;
  }
  
  .user-suggestions-panel .user-suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .user-suggestions-list #user-suggestion-item {
    margin-bottom: 4%;
  }
  
  .suggested-user-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .suggested-user-panel #user-profile-pic {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 3px solid #D59A75;
  }
  
  .suggested-user-panel #suggested-user {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }
  
  #suggested-user #suggested-username {
    font-weight: 700;
    font-family: Noto Sans;
    font-size: 12pt;
  }
  
  #suggested-user #suggested-user-label {
    font-weight: 400;
    font-family: Assistant;
    font-size: 12pt;
    color: #373740;
    /* opacity: 0.9; */
  }
  
  .suggested-user-panel #follow-suggested-user {
    font-family: Assistant;
    font-size: 12pt;
    font-weight: 700;
    color: #23406E;
    cursor: pointer;
  }
  
  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: "liga";
  }
  
  /* Mobile Phone Media Query */
  @media only screen and (max-width: 600px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    body {
      background-color: whitesmoke;
    }
  
    main {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .top-nav-bar .top-nav-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 15px;
    }
  
    .top-nav-container #top-nav-bar-title {
      display: inline-block;
      font-family: Comfortaa;
      font-weight: bold;
      font-size: 15pt;
    }
  
    #top-nav-bar-userbox {
      display: inline-block;
    }
  
    .top-nav-bar-user-optionbox {
      margin-left: 5px;
      margin-right: 10px;
      font-size: 10pt;
      font-family: Lato;
      font-weight: 600;
    }
  
    .page-content {
      position: relative;
      margin-top: 70px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .left-column {
      width: 95%;
    }
  
    #stories-panel {
      display: flex;
      align-items: flex-start;
      width: 100%;
      border: 1.5px solid gray;
      background-color: white;
      border-radius: 10px;
      overflow: auto;
      margin-bottom: 4%;
    }
    .page-content .right-column {
      display: none;
    }
  
    .stories-panel-card-item {
      align-items: center;
      width: fit-content;
    }
  
    .stories-panel-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    #stories-panel-image-background {
      background: linear-gradient(to right, red, orange);
      display: inline-block;
      border-radius: 50%;
      width: 58px;
      height: 58px;
      min-width: 58px;
      min-height: 58px;
      padding: 2px;
    }
  
    #stories-panel-card-image {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid white;
      box-sizing: border-box;
    }
  
    .stories-panel-image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  
    .stories-panel-card-label {
      margin-top: 8px;
      font-size: 9pt;
      font-family: Assistant;
      font-weight: 600;
    }
  
    .post-cardview {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 2px solid gray;
      border-radius: 6pt;
    }
  
    .post-details {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      margin-top: 10px;
    }
  }
  