<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Photo App</title>
    <link rel="stylesheet" href="/static/starter_styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa|Lato|Assistant|Noto Sans" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
</head>
<body>
    <header>
        {% with user=user %}
            {% include "includes/navbar.html" %}
        {% endwith %}
    </header>
    <main>
        <div class="page-content">
            <div class="left-column">
                {% with stories=stories %}
                    {% include "includes/stories.html" %}
                {% endwith %}

                {% with posts = posts %}
                    {% include "includes/cards.html" %}
                {% endwith %}
            </div>

            <div class="right-column">
                {% with user=user, suggestions=suggestions %}
                    {% include "includes/suggestions.html" %}
                {% endwith %}
            </div>
    </main>    
</body>
</html>