.post-user-comments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

.post-user-comments #card-comment-feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#card-comment-feature #comment-emoji {
  margin-right: 10px;
}

#card-comment-feature .post-comment {
  font-weight: 900;
  font-family: Assistant;
  font-size: 12pt;
  color: #34303c;
  border: none;
  width: 80%;
  outline: none;
}

.post-user-comments #comment-publish {
  border: none;
  padding: 0;
  background: none;
  font-family: Rubik;
  font-size: 13pt;
  font-weight: 800;
  color: #23406e;
  cursor: pointer;
}
